#controversy {
  background-color: #251c12;
  background-image: url("img/always_and_never/always_never_bg.jpg");
  background-size: cover;
  background-position: 50%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .hidden {
    display: none;
    visibility: hidden;
  }

  .logo {
    margin: 0 0 60px;
    @media (max-height: 500px) {
      zoom: 0.8;
      margin: 0 0 20px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
      zoom: 0.8;
      margin: 0 0 20px;
    }
  }

  a {
    cursor: pointer;
    line-height: 0;
    font-size: 0;
    color: transparent;
    margin: 20px;
  }

  .content {
    text-align: center;

    a.continue {
      margin: 0 0 20px;
      display: inline-block;
    }

    a.social {
      display: inline-block;
      margin: 10px 15px 0;

      img {
        width: 28px;
        height: auto;
      }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
      a.listen, a.store {
        display: block;
      }
    }

    @media (max-height: 500px) {
      display: block;
    }
  }
}

html.takeover {
  height: 100%;
  overflow: hidden;
}

body.takeover {
  height: 100%;
  overflow: hidden;
}
