/* FOOTER */
footer.footer {
  margin: 60px auto 0 auto;
  padding: 20px 0 0 0;
  min-height: 70px;
  border-top: 1px solid $yellow;
  text-transform: uppercase;
  color: $yellow;
  letter-spacing: 2.7px;
  .footnote {
    padding: 0 15%;
    font-size: 0.8rem;
    margin: 0 auto 20px;
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .copyright{
      margin-top: 35px;
    }
    .zbc-logo {
      width: 80px;
      height: auto;
      margin: 0 0 20px;
    }
    .links-container {
      margin-top: 35px;
      ul.footer-links {
        display: flex;
        flex-direction: row;
        li {
          a {
            color: inherit;
            margin: 0 0 0 20px;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }

  }

  @include large-desktop {

  }

  @include desktop {
    .content-container{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 20px 0;
      .copyright {
        order: 2;
        margin-top: auto;
      }
      .links-container{
        margin-top: auto;
      }
      .footer-links {
        order: 1;
        margin: 0 0 20px;
      }
      .footer-links .links-container ul.footer-links {
        display: flex;
        flex-direction: row;
        border: 5px solid greenyellow;
      }
      .footer-links .links-container ul.footer-links li a {
        margin: 0 0 0 0;
      }
    }
  }

  @include small {
    div {
      margin: 0 20px 20px 20px;
    }
    .content-container {
      flex-direction: column;
      justify-content: center;
      img.zbc-logo {
        order: 1;
      }
      .copyright {
        order: 3;
        text-align: center;
      }
      .links-container {
        order: 2;
        align-items: center;
        flex-direction: column;

        ul.footer-links {
          flex-direction: column;
          justify-content: center;
          align-content: center;
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 0 0;
            padding: 0;
            text-align: center;

            a {
              margin: 0;
            }

            &:not(:last-child) {
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
}
