/* FOOTER */
footer {
  margin: 60px auto 0 auto;
  min-height: 70px;
  border-top: 1px solid $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: $yellow;
  letter-spacing: 2.7px;
  .links-container {
    ul.footer-links {
      display: flex;
      flex-direction: row;
      li {
        a {
          color: inherit;
          margin: 0 0 0 20px;
          &:hover {
            color: inherit;
          }
        }
      }
    }
  }

  @include large-desktop {

  }

  @include desktop {

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;

    .copyright {
      order: 2;

    }
    .footer-links {
      order: 1;
      margin: 0 0 20px;
      .links-container{
        ul.footer-links{
          display: flex;
          flex-direction: row;
          border: 5px solid greenyellow;
          li{
            a{
              margin: 0 0 0 0;
            }
          }
        }
      }
    }
  }

  @include small {
    div {
      margin: 0 20px 20px 20px;
    }
    .copyright {
      text-align: center;
    }
    .links-container {
      ul.footer-links{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;

        li{
          margin: 0 0 0 0;
          padding: 0;
          text-align: center;
          a{
            margin: 0;
          }
         &:not(:last-child){
           margin: 0 0 10px 0;
         }
        }
      }
    }
  }

}