/* FOOTER */
footer{
	margin: 60px auto 0 auto;
	min-height: 70px;
	border-top: 1px solid $yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	color: $yellow;
	letter-spacing: 2.7px;
	div{
		a{
			color: inherit;
			margin: 0 10px;
		}
		a:last-child{
			margin: 0 0 0 0;
		}

		a:hover{
			color: inherit;
		}
	}

	@include desktop{
		div:first-child{
			margin: 0 0 0 20px;
		}	
		div:last-child{
			margin: 0 20px 0 0;
			a:last-child{
				margin: unset;
			}
			a:hover{
				color: inherit;
			}
			a:last-child{
				margin: 0 10px;
			}
		}
	}

	@include large-desktop{
		flex-direction: column;
		justify-content: center;

	}

}