/* HEADER */
html {
  body {
    header {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 150px;

      div.nav-toggle{
        display:none;
        border-top: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        position: relative;
        justify-content: flex-end;
        a#nav-toggle{
          padding: 5px;
          img.hamburger{
            width: 30px;
            height: 30px;
          }
        }
      }

      .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 111px;
        .logo-link {
          display: inline-block;
          .logo-img{
            height: 70px;
            width: auto;
          }
        }
        .tagline-img{
          width: 497px;
          height: 67px;
        }
      }

      @include tablet {
        height: auto;
        div.nav-toggle{
          display: flex;
          &:not(.open){
            display: none;
          }
        }
        .logo {
          flex-direction: column;
          justify-content: flex-start;
          height: auto;
          .logo-link {
            .logo-img {
              margin: 20px 0 20px;
            }
          }
          .tagline-img {
            margin: 0 0 55px 0;
            max-width: 497px;
            width: 90%;
            height: auto;
          }
        }
      }
      @include small{
        .logo > .tagline-img{
          margin: 0 0 20px 0;
        }
      }
      &.home {
        height: 512px;
        align-items: flex-start;
        justify-content: flex-start;
        background-image: url('img/header-background.jpg');
        background-size: cover;
        background-position: bottom center;
        .logo {
          flex-direction: column;
          padding: 0 0 0 14%;
          height: 473px;
          justify-content: center;
          .logo-link {
            margin: 0 0 20px 0;
            z-index: 1;
            pointer-events: none;
            .logo-img {
              height: 180px;
              width: 205px;
              display: none;
            }
          }
          .tagline-img {
            width: 455px;
            height: auto;
            z-index: 2;
            display: none;
          }
          @include tablet {

          }
        }
        @include desktop {
          background-position: 33% 50%;
          -webkit-transition: background-position 1s; /* Safari */
          transition: background-position 1s;
        }
        @include tablet {
          background-image: none;
          .logo {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            padding-top: 20px;
            display: flex;
            .logo-link {
              display: block;
              width: 100%;
              text-align: center;
              .logo-img{
                height: auto;
                width: 36.4%;
                min-width: 200px;
                display: inline-block;
              }
            }
            .tagline-img {
              display: block;
              width: 59.2%;
              min-width: 300px;
              height: auto;
            }
          }
        }
      }
    }
  }
}