// Media Query Sizes
$extra-small: 320px;
$small: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1140px;
$massive-desktop: 1280px;

// Colors
$yellow: #ac9243;
$black: #030304;
$off-white: #c5c0af;

// base font
$base-font: 'edmondsansmedium', sans-serif;
$base-font-light: 'merriweatherlight', sans-serif;
